
@import url(../../../assets/styles/colors.css);

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
}


.logo {
    background-image: url(./logo.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 156px;
    height: 60px;
}

.navList {
    list-style: none;
    display: flex;
    gap: 29px;
    align-self: flex-end;
}



.listA {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.54px;
    text-decoration: none;
}

