@import url(../../../assets/styles/colors.css);


.civilPage {
    background: linear-gradient(90deg, #0E0E0E 13.54%, #C8C8C8 65.19%, #FBFBFB 81.25%);
}

.civilPage__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 115px;
}

.civilPage__flex_right {
    background-image: url(../home/servicesPages/servicesPagesImages/4.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 238px;
    height: 273px; 
}

.civilPage__flex_left h2 {
    color: var(--color-white);
    font-size: 48px;
    letter-spacing: -0.03em;
    font-weight: 500;
    margin-bottom: 60px;
   
}

.civilPage__flex_left h3 {
    color: var(--color-white);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -0.03em;
    margin-bottom: 22px;
    max-width: 676px;
}

.civilPage__flex_left li {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.03em;
    max-width: 520px;
    list-style: disc inside;
    padding-left: 20px;
}