@import url(../../../assets/styles/colors.css);

.footer {
    /* background-color: var(--color-black); */
    padding: 61px 100px;
}

.footer_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__logo {
    background-image: url(./footerImages/footerLogo.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 164px;
    height: 124px; 
}

.footer_grid {
    display: grid;
    grid-template-areas: "office socials inquiries";
    font-style: normal;
    gap: 180px;
}


.office__h3, .socials__H3, .inquiries__h3 {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 500;
    line-height: 144.336%; 
    letter-spacing: -0.96px;
    margin-bottom: 27px;
}

.footer__office {
    grid-area: office;
}

.office__p {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 300;
    line-height: 144.336%; 
    letter-spacing: -0.6px;
    max-width: 212px;
    width: 100%;
}




.footer__socials {
    grid-area: socials;
}

.socials_flex {
    display: flex;
    align-items: center;
    gap: 49px;
}

.socials__H3 {
    text-align: center;
    margin-bottom: 51px;
}

.socials__instagram {
    background-image: url(./footerImages/Instagram.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px; 
}

.socials__link {
    background-image: url(./footerImages/linkedin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px; 
}

.socials__facebook {
    background-image: url(./footerImages/facebook.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 28px; 
}


.footer__inquiries {
    grid-area: inquiries;
}

.inquiries__p, .inquiries__telMail {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 300;
    line-height: 144.336%; 
    letter-spacing: -0.6px;
}

.inquiries__p {
    max-width: 240px;
    width: 100%;
}

.inquiries__telMail {
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.inquiries__telMail:first-child {
    margin-left: 10px;
}

.footer__civilPage {
    grid-area: inquiries;
    
}

.footer__civilPage h3 {
    color: var(--color-black);
}

.footer__civilPage p {
    color: var(--color-black);
}

.footer__civilPage a {
    color: var(--color-black);
}