@import url(../../../assets/styles/colors.css);

.headerNavButton {
    width: 160px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid var(--color-orange);
    background-color: transparent;
    color: var(--color-white);
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.6px;
    transition: background-color 0.4s ease;
}


.headerNavButton:hover {
    background-color: var(--color-orange);
}

.headerNavButton:active {
    background-color: #C56B34;
    transition: background-color 0.3ms ease;
}


.civilPage {
    width: 160px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid var(--color-orange);
    background-color: transparent;
    color: var(--color-black);
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.6px;
    transition: background-color 0.4s ease;
}

.civilPage:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
}

.civilPage:active {
    background-color: #C56B34;
    transition: background-color 0.3ms ease;
}






.headerMainButtonLeft {
    width: 240px;
    height: 65px;
    background-color: var(--color-orange);
    color: var(--color-white);
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 108.336%; 
    letter-spacing: -0.6px;
    border: 3px solid var(--color-orange);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.headerMainButtonLeft:hover {
    background-color: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-orange);
}

.headerMainButtonLeft:active {
    background-color: #DDDDDD;
    transition: background-color 0.3ms ease;
}






.headerMainButtonRight {
    width: 240px;
    height: 65px;
    background-color: transparent;
    border: 3px solid var(--color-white);
    color: var(--color-white);
    font-size: 20px;
    font-weight: 500;
    line-height: 108.336%; 
    letter-spacing: -0.6px;
    border-radius: 15px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}


.headerMainButtonRight:hover {
    background-color: var(--color-white);
    color: var(--color-orange);
}

.headerMainButtonRight:active {
    background-color: #DDDDDD;
    transition: background-color 0.3ms ease;
}