:root {
    --color-orange: #F37021;
    --color-black: #181818;
    --color-white: #FFF;
    --color-silver: #7D8491;
    --color-blue: #246EB9;
    --color-green: #4CB944;
    --color-brown: #423629;

}